
  <!--<div class="col-lg12">-->
    <div class="showHide" style="text-align:center">
      <h3>Welcome to <b> WannaBeWhales</b></h3>
      <img style="text-align:center" width="140" src="https://media.giphy.com/media/qhhamrBnxSKNG/giphy.gif">
      <h2 style="text-align:center">Cryptocurrency Market Info</h2>
    </div>
    <br class="showHide">


    <div class="col-xs-12 col-md-5 ">
      <button type="button" class="btn btn-primary homepageButtonTop" (click)="button('')" [ngClass]="{'btn-success': active}">Top 100</button>
      <!-- <button type="button" class="btn btn-info" (click)="button100('', 100, 100)" [ngClass]="{'btn-success': active}">100-200</button>
      <button type="button" class="btn btn-info" (click)="button200('')" [ngClass]="{'btn-success': active}">200-300</button> -->
      <button type="button" class="btn btn-basic homepageButtonScroll" (click)="buttonPrevious('')" [ngClass]="{'btn-success': active}">← Previous 100</button>
      <button type="button" class="btn btn-basic homepageButtonScroll" (click)="buttonNext('')" [ngClass]="{'btn-success': active}">Next 100 →</button>
    </div>


    <div class="col-xs-8 col-md-5 homepageBar">
      <div class="form-inline">
        <div class="form-group col-xs-8 searchBarDesktop" style="padding-right: 2px; padding-left: 0px; text-align: right">
          <input type="search"
                 class="form-control"
                 placeholder="Enter name"
                 [formControl]="searchField"
                 #search>
        </div>
        <div class="form-group col-xs-4" style="padding-left: 0px; padding-right: 0px; ">
            <button class="btn btn-primary searchButtons"  (click)="buttonCoin(search.value)" style="width: 100%"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
    </div>

    <div class="col-xs-4 col-md-2 homepageBar" style="margin-right: 0px; text-align: right">
        <!--<p *ngIf="loading">Loading...</p> btn btn-sm btn-link alert alert-warning-->
        <button *ngIf="loading" class="btn btn-info homepageButtons" style="margin-top: 5p; background-color: #f7f3de; border-color: white; color: grey" ><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
      </div>

    <!-- <div class="form-inline">
        <div class="form-group col-xs-5">
            <input type="search" class="form-control" placeholder="Enter search string" [formControl]="searchField" #search>

        </div>
        <div class="form-group col-xs-6" style="padding-left: 0px">
            <button class="btn btn-primary"  (click)="buttonCoin(search.value)">Search</button>

        </div>
    </div> -->


  <br>
  <br>


  <div class="col-xs-12">
        <a
        style="background-color: #f3f3f4; border-bottom:2px solid #ddd; border-right:0px solid #ddd; border-left:0px solid #ddd"
        class="portfolioHead list-group-item clearfix">

        <div class="portfolioHead col-xs-3 col-md-3"><b>Coin</b></div>

        <div class="col-xs-3 col-md-3">
          <div class="col-xs-6 col-md-6" style="text-align: right"><b>USD</b></div>
          <div class="showHide col-xs-6 col-md-6" style="text-align: right"><b>BTC</b></div>
        </div>

        <div class="col-md-3">
          <div class="showHide col-md-6" style="text-align: right"><b>M. Cap</b></div>
          <div class="showHide col-md-6" style="text-align: right"><b>Volume</b></div>
        </div>
          <div class="col-md-3">
          <div class="col-xs-3 col-md-4" style="text-align: right"><b>%1h</b></div>
          <div class="col-xs-3 col-md-4" style="text-align: right"><b>%24h</b></div>
          <div class="showHide col-xs-2 col-md-4" style="text-align: right; padding-right: 1px"><b>%7d</b></div>
          </div>
        </a>

  <!--<div class="col-sm-12">-->
    <app-home-item
      *ngFor="let coinmarketEl of marketData; let i = index"
      [coinmarket]="coinmarketEl"
      [index]="i"
    ></app-home-item>
   <!--</div>-->
</div>


