<div class="showHide" style="text-align:center">
      <h3>Welcome to <b> WannaBeWhales</b></h3>
      <img style="text-align:center" width="140" src="https://media.giphy.com/media/qhhamrBnxSKNG/giphy.gif">
      <h2 style="text-align:center">Cryptocurrency Market Info</h2>
</div>

    <br class="showHide">
    <div class="col-xs-12 col-md-3 ">
      <button type="button" class="btn btn-primary homepageButtonTop" (click)="button('market', '', 0, 100)" [ngClass]="{'btn-success': active}">Top 100</button>
      <button type="button" class="btn btn-basic homepageButtonScroll" (click)="buttonPrevious('market', '', 0 , 100)" [ngClass]="{'btn-success': active}"><span class="glyphicon glyphicon-chevron-left"></span> 100</button>
      <button type="button" class="btn btn-basic homepageButtonScroll" (click)="buttonNext('market', '', 0 , 100)" [ngClass]="{'btn-success': active}">100 <span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
    <div class="showHide col-xs-12 col-md-2" style="margin-right: 0px; text-align: left; padding-left: 1px"><h5>Showing page: {{this.start}} - {{this.start + 100}}</h5></div>
    <div class="col-xs-8 col-md-5 homepageBar">
      <div class="form-inline">
        <div class="form-group col-xs-8 searchBarDesktop" style="padding-right: 2px; padding-left: 0px; text-align: right">
            <!-- <input type="search"
                 class="form-control"
                 placeholder="Enter name"
                 [formControl]="searchField"
                 #search> -->
          <input type="search"
                 class="form-control"
                 placeholder="Enter name"
                 #search>
        </div>
        <div class="form-group col-xs-4" style="padding-left: 0px; padding-right: 0px; ">
            <button class="btn btn-primary searchButtons"  (click)="buttonCoin(search.value)" style="width: 100%"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
    </div>
<!--
    <div class="showHide col-xs-4 col-md-2 homepageBar" style="margin-right: 0px; text-align: right">
        <p *ngIf="loading">Loading...</p> btn btn-sm btn-link alert alert-warning
        <button *ngIf="loading" class="btn btn-info homepageButtons" style="margin-top: 5p; background-color: #f7f3de; border-color: white; color: grey" ><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
      </div> -->

 <!-- // hier de mobile loading info -->
      <div class="col-xs-4 col-md-2 homepageBar" style="margin-right: 0px; text-align: right">
          <!--<p *ngIf="loading">Loading...</p> btn btn-sm btn-link alert alert-warning-->
          <button *ngIf="loading" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
        </div>

    <!-- <div class="form-inline">
        <div class="form-group col-xs-5">
            <input type="search" class="form-control" placeholder="Enter search string" [formControl]="searchField" #search>

        </div>
        <div class="form-group col-xs-6" style="padding-left: 0px">
            <button class="btn btn-primary"  (click)="buttonCoin(search.value)">Search</button>

        </div>
    </div> -->
    <div class="showMobile col-xs-12 col-md-12" style="margin-right: 0px; text-align: left"><h5>Showing page: {{this.start}} - {{this.start + 100}}</h5></div>


  <br>
  <br>


  <div class="col-xs-12">
        <a
        style="background-color: #f3f3f4; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; border-left: 1px solid #ddd"
        class="list-group-item clearfix">

        <div class="portfolioList col-xs-3 col-md-3" style="text-align: left"><b>Coin</b></div>

        <div class="col-xs-3 col-md-3">
          <div class="col-xs-6 col-md-6" style="text-align: right"><b>USD</b></div>
          <div class="hidden-xs col-md-6" style="text-align: right"><b>BTC</b></div>
        </div>

        <div class="col-md-3">
          <div class="hidden-xs col-md-6" style="text-align: right"><b>M. Cap</b></div>
          <div class="hidden-xs col-md-6" style="text-align: right"><b>Volume</b></div>
        </div>

          <div class="col-xs-3 col-md-1" style="text-align: right"><b>%1h</b></div>
          <div class="col-xs-3 col-md-1" style="text-align: right; padding-right: 1px"><b>%24h</b></div>
          <div class="hidden-xs col-md-1" style="text-align: right; padding-right: 1px"><b>%7d</b></div>

        </a>

  <!--<div class="col-sm-12">-->
    <app-home-item
      *ngFor="let coinmarketEl of marketData; let i = index"
      [coinmarket]="coinmarketEl"
      [index]="i"
    ></app-home-item>
   <!--</div>-->
</div>


