
/* Mobile*/
.showHide { display:none; }
.showMobile { display: block; }
/* .mobile-backgroundColor {background-color: #d9edf7} */

@media screen and (max-width: 768px) {
  .dataBanner  { font-size: 11px; padding-left: 5px; padding-right: 5px }
  .portfolioHead {padding-left: 2px}
  .homepageBar { margin-top: 5px; margin-right: 0px}
  .homepageButtonTop {font-size: 14px; width: 26%}
  .homepageButtonScroll {font-size: 14px; width: 35%; background-color: #DDDDDD}
  .searchButtons { }
  .portfolioList {padding-left: 2px}

}
/* Desktop*/
@media screen and (min-width: 768px) {
  .showHide  { display: block; }
  .showMobile { display:none; }
  .breakRemove {display: none}
  #leftside > button { display: none; }
  .mobile-backgroundColor {background-color: white}
  .searchBarDesktop { text-align: right}


}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
