.highcharts-background {
  fill: red;
  stroke: black;
  stroke-width: 2px;
}
/* Mobile*/
.showHide { display:none; }
.mobile-backgroundColor {background-color: #d9edf7}

@media screen and (max-width: 768px) {
  .dataBanner  { font-size: 11px; padding-left: 5px; padding-right: 5px }
  .portfolioHead {padding-left: 2px}

}
/* Desktop*/
@media screen and (min-width: 768px) {
  .showHide  { display: block; }
  .breakRemove {display: none}
  #leftside > button { display: none; }
  .mobile-backgroundColor {background-color: white}
}
