<!-- tslint:disable -->
<div class="row">
  <h2 class="showHide"><b>DASHBOARD | user </b> {{userName}}</h2>
  <hr class="showHide" style="border-color: dimgrey">
  <button class="btn btn-basic" (click)="updateSeriesData()">Update market info</button>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h3 class="showHide">Portfolio Chart</h3>

    <hr class="showHide">
    <chart style="display:block;  width: 100% !important;" type="StockChart" (click)="onClickPortfolioButton($event)" [options]="optionsStockchart" (load)="saveInstanceStock($event.context)"></chart>

  </div>
  <div class="showHide col-xs-12 col-md-6">
    <h3 class="showHide">Portfolio Shares</h3>
    <hr>
    <chart style="display:block; padding-right: 0; height: auto; width: 100% !important;" [options]="optionsPiechart" (load)="saveInstancePie($event.context)"></chart>
  </div>
</div>



<!--<div class="row">-->
  <br>
  <div class="dataBanner mobile-backgroundColor col-xs-12 col-md-6" style="padding-bottom: 5px; padding-left: 5px;">
    <div class="dataBanner col-xs-4">
      Global Market <br><b>$ {{ totalMarketCap | number}}</b>
    </div>

    <div class="dataBanner col-xs-4">
      Volume (24h) <br><b> {{ totalMarketVolume | number }} </b>
    </div>

    <div class="dataBanner col-xs-4">
      BTC % market <br><b> {{ totalMarketBitcoin }} </b>
    </div>

  </div>
<!--</div>-->

<!--<div class="row">-->
  <div class="dataBanner mobile-backgroundColor col-xs-12 col-md-6" style="padding-bottom: 5px; padding-left: 5px;">

    <div class="dataBanner col-xs-4">
      Portfolio Value <br><b>$ {{getTotal() | number: '1.0-0' }}</b>
    </div>

    <div class="dataBanner col-xs-4">
      Biggest Gainer <br><b>{{ maxChangeSymbol | jsonquotes }} {{ maxChange }} %</b>
    </div>

    <div class="dataBanner col-xs-4">
      Biggest Loser <br><b>{{ minChangeSymbol | jsonquotes }} {{ minChange  }} %</b>
    </div>

  </div>
<!--</div>-->


<div class="row">

  <div class="showHide col-xs-12 col-md-6">
    <h3>Global market chart</h3>
    <hr>
  </div>

  <div class="showHide col-xs-12 col-md-6">
    <h3>Factsheet Portfolio</h3>
    <hr>
  </div>

  <hr style="margin-bottom: 10; border: 0">

  <div class="col-xs-12 col-md-6">
    <br class="breakRemove">
    <chart style="display:block;  width: 100% !important;" type="StockChart" [options]="optionsStockchart" (click)="onClickSummaryButton($event)" (load)="saveInstanceSummary($event.context)"></chart>

  </div>

  <div class="showHide col-xs-12 col-md-6">
    <chart style="display:block; padding-right: 0; height: auto; width: 100% !important;" [options]="optionsColumn" (load)="saveInstanceColumn($event.context)" ></chart>

  </div>
</div>


<div class="row">
  <hr style="margin-bottom: 0; border: 0">
  <div class="col-xs-12">
    <a
      style="background-color: #f3f3f4; border-bottom:2px solid #ddd; border-right:0px solid #ddd; border-left:0px solid #ddd"
      class="portfolioHead list-group-item clearfix">
      <div class="portfolioHead col-xs-2 col-md-1"><b>Coin</b></div>
      <div class="col-xs-2 col-md-4">
        <div class="col-xs-6" style="text-align: right"><b>USD</b></div>
        <div class="showHide col-xs-6" style="text-align: right"><b>BTC</b></div>
      </div>
     <div class="col-xs-5 col-md-4">
       <div class="col-xs-6 col-md-6" style="text-align: right"><b>1h</b></div>
       <div class="col-xs-6 col-md-6" style="text-align: right"><b>24h</b></div>

     </div>
    <div class="col-xs-3 col-md-3">
      <div class="col-xs-12 col-md-6" style="text-align: right"><b>Balance</b></div>
      <div class="showHide col-md-6" style="text-align: right"><b>Value</b></div>
    </div>
    </a>

    <app-item-form
      *ngFor="let coinmarketEl of sharesArray; let i = index;"
      [portfolioCoin]="coinmarketEl"

    ></app-item-form>

  </div>
</div>

<br>




















