<div class="row">
  <h3 style="color: red">Alpha release - transaction module not yet activated</h3>
  <br>
  <div class="col-xs-10">
    <app-wish-list-edit></app-wish-list-edit>
    <hr>
  </div>
</div>
<div class="row">
    <h3>Transaction history</h3>
</div>
  <div class="row">
    <div class="col-sm-12"><a
      style="background-color: #f3f3f4; border-bottom:2px solid #ddd; border-right:0px solid #ddd; border-left:0px solid #ddd"
      class="list-group-item clearfix">
      <div class="col-xs-1">Ordertype</div>
      <div class="col-xs-1">Coin</div>
      <div class="col-xs-2">Pair</div>
      <div class="col-xs-1">Quantity</div>
      <div class="col-xs-1">Price</div>
      <div class="col-xs-1">Total</div>
      <div class="col-xs-1">USD</div>
      <div class="col-xs-1">Exchange</div>
      <div class="col-xs-1">Fill Type</div>
      <div class="col-xs-2">Time-Stamp</div>


    </a></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
    <ul class="list-group">
      <a class="list-group-item clearfix" style="cursor: pointer"
      *ngFor="let transaction of transactions"
      >
        <div class="col-xs-1">{{ transaction.orderType}}</div>
        <div class="col-xs-1">{{ transaction.symbol}}</div>
        <div class="col-xs-2">{{ transaction.tradingPair}}</div>
        <div class="col-xs-1">{{ transaction.amount }}</div>
        <div class="col-xs-1">{{ transaction.transaction_price_btc }}</div>
        <div class="col-xs-1">{{ transaction.txTotalBtc}}</div>
        <div class="col-xs-1">{{ transaction.txTotalUsd}}</div>
        <div class="col-xs-1">{{ transaction.txExchange}}</div>
        <div class="col-xs-1">{{ transaction.fillType}}</div>
        <div class="col-xs-2">{{ transaction.transaction_time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</div>
      </a>


    </ul>
    </div>
  </div>




