

<a
  style="cursor: pointer; margin: 2px 0px 2px 0px; padding-left: 4px; "
  class="fontResponsive list-group-item clearfix">

  <div class="row">
    <div class="col-xs-12">

      <div class="showHide col-md-1" >
        <span class="pull-left"><img src="./assets/PNG/{{portfolioCoin.symbol}}.png" alt="" class="img-responsive" style="max-height: 30px"></span>
      </div>

      <div class="showHide col-md-1" ><b>{{portfolioCoin.name}}</b></div>
      <div class="hideDesktop col-xs-2" ><b>{{portfolioCoin.symbol}}</b></div>

      <div class="col-xs-4 col-md-4">
        <div class="col-xs-12 col-md-6" style="text-align: right; padding-left: 10px">${{portfolioCoin.price_usd | number: '1.0-5' }}</div>
        <div class="showHide col-md-6" style="text-align: right">{{portfolioCoin.price_btc | number: '1.6-6' }} </div>
      </div>

      <div class="col-xs-4 col-md-3" style="padding-left: 0px">
        <div class="paddingLeft col-xs-6" style="text-align: right" [ngClass]="{'negative': portfolioCoin.percent_change_1h < 0, 'positive' : portfolioCoin.percent_change_1h > 0}"> {{portfolioCoin.percent_change_1h | number: '1.2-2'}}%</div>
        <div class="col-xs-6" style="text-align: right" [ngClass]="{'negative': portfolioCoin.percent_change_24h < 0, 'positive' : portfolioCoin.percent_change_24h > 0}"> {{portfolioCoin.percent_change_24h | number: '1.2-2'}}%</div>

      </div>

      <div class="showHide col-md-1"> {{ portfolioCoin.volume_24h | number }} </div>
       <div class="col-xs-2 col-md-1" style="text-align: center" >{{portfolioCoin.balance | number: '1.0-4'  }}</div>
       <div class="showHide col-md-1" style="text-align: right" ><b>{{portfolioCoin.y| number: '1.0-0'}} $</b></div>

    </div>
  </div>






</a>
