.negative {
  color: red;
}

.positive {
  color: mediumseagreen;
}

.rightAlign {
  text-align: right;
}

/* Mobile*/
.showHide { display:none; }
.mobile-backgroundColor {background-color: #d9edf7}

@media screen and (max-width: 768px) {
  .portfolioList  { padding-left: 2px }
  .fontResponsive { font-size: 10px}
  .hideDesktop { display: block; }
  .paddingLeft { padding-left: 2px}


}

/* Desktop*/
@media screen and (min-width: 768px) {
  .showHide  { display: block; }
  #leftside > button { display: none; }
  .mobile-backgroundColor {background-color: white}
  .hideDesktop { display: none; }
}


