<a
  style="cursor: pointer"
  class="portfolioList paddingLeft list-group-item clearfix">

  <div class="row">
    <div class="col-xs-3 col-md-2"><b>{{coinmarket.symbol}}</b>  ({{coinmarket.name}})</div>

    <div class="col-xs-3 col-md-3">
      <div class="col-xs-6 col-md-6" style="text-align: right" [ngClass]="{'negative': coinmarket.percent_change_24h < 0, 'positive' : coinmarket.percent_change_24h > 0}"> {{coinmarket.price_usd | limitTo: 5}}</div>
      <div class="showHide col-xs-6 col-md-6" style="text-align: right" [ngClass]="{'negative': coinmarket.percent_change_24h < 0, 'positive' : coinmarket.percent_change_24h > 0}"> {{coinmarket.price_btc | limitTo: 5 }}</div>
    </div>
    <div class="col-md-3">
      <div class="showHide col-xs-2 col-md-6" style="text-align: right">  {{coinmarket.market_cap_usd | number }} </div>
      <div class="showHide col-xs-2 col-md-6" style="text-align: right">  {{ coinmarket.volume_24h | number }} </div>
    </div>
    <div class="col-md-4">
    <div class="portfolioList col-xs-3 col-md-4" style="text-align: right" [ngClass]="{'negative': coinmarket.percent_change_1h < 0, 'positive' : coinmarket.percent_change_1h > 0}">  <b> {{coinmarket.percent_change_1h}} % </b> </div>
    <div class="portfolioList col-xs-3 col-md-4" style="text-align: right" [ngClass]="{'negative': coinmarket.percent_change_24h < 0, 'positive' : coinmarket.percent_change_24h > 0}"> <b> {{coinmarket.percent_change_24h}} </b> % </div>
    <div class="showHide col-xs-2 col-md-4" style="text-align: right" [ngClass]="{'negative': coinmarket.percent_change_7d < 0, 'positive' : coinmarket.percent_change_7d > 0}"> <b> {{coinmarket.percent_change_7d}} % </b> </div>
    </div>
    </div>


    <div class="col-xs-2 pull-right" style="text-align: right"></div>





</a>







